.clock-container {
  width: 10%;
  display: inline;
  font-size: 18px;
  color: black;
  background-color: #f7f7f7;
  height: 50px;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0); }

input#clock {
  min-width: 10%;
  width: 10%; }

input#clock:focus {
  border: 3px solid #eee !important; }

.manual-entry {
  min-width: 115px;
  width: 115px;
  border: 3px solid #eee !important;
  display: none; }

.manual-entry:nth-child(2) {
  min-width: 160px; }

.manual-entry:focus {
  background-color: #eee; }

#datepicker {
  position: relative;
  z-index: 1;
  /* left: -65px; */
  top: 1px;
  color: #7B7B7B;
  cursor: pointer;
  width: 120px;
  /* visibility:hidden; */
  visibility: visible; }
