body {
  background-color: #f7f7f7 !important;
  height: 100%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

li {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  background: #fff;
  width: 100%; }

.listItem {
  text-align: right; }

/* font-awesome delete + append icons */
.fa.fa-trash, .fa.fa-play {
  font-size: 18px !important; }

.fa.fa-trash {
  margin: 0 25px 0 0; }

span {
  margin-left: 10px;
  background-color: transparent;
  text-align: center;
  color: #bdc3c7;
  width: 18px;
  display: inline-block;
  -webkit-transition: 0.1s linear;
  opacity: 0; }

li:hover span {
  opacity: 1.0;
  -webkit-transition: 0.1s linear; }

li span:hover {
  color: black; }

/*
li:nth-child(even) { 
    background: $dark-grey; 
}
*/
.listTask {
  display: inline-block;
  margin: 0 40px 0 60px;
  text-align: left;
  float: left; }

.listIconsRight {
  display: inline-block;
  float: right; }

.timestamp {
  display: inline-block;
  height: 30px;
  font-weight: 400;
  font-size: 15px;
  padding-top: 8px;
  padding: 8px 30px 0 30px;
  flex: 0 1 auto;
  color: #7b7b7b;
  background-color: transparent;
  white-space: nowrap; }

.listClockTime {
  display: inline-block;
  font-weight: 400; }

.deleteTimeIcons {
  display: inline-block;
  margin: 0 60px 0 40px; }

.projIcon {
  display: inline-block;
  display: visible;
  float: left; }

.projIcon > h6 {
  color: white;
  background-color: #5C6B73;
  padding: 3px 6px 3px 6px;
  font-size: 14px;
  margin-right: 10px;
  display: inline; }

.billIcon {
  font-weight: normal;
  color: black;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  opacity: 0; }

.billIconToggle {
  font-weight: bold;
  position: relative;
  opacity: 0; }

li:hover .billIcon {
  color: #bdc3c7;
  opacity: 1.0;
  -webkit-transition: 0.1s linear; }

li .billIcon:hover {
  color: black; }

li:hover.billIconToggle {
  color: #bdc3c7;
  opacity: 1.0;
  -webkit-transition: 0.1s linear; }

.inputBilling {
  height: 50px;
  position: relative;
  width: auto;
  font-size: 22px; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    supported by Chrome and Opera */ }

.listTime {
  display: inline-block;
  margin-right: 50px;
  margin-left: 30px;
  float: right; }

.dateContainerStyle {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  margin: 50px 0 10px 0;
  position: relative; }
