.timer-container {
  width: 100%;
  height: 70px;
  margin: 5px auto;
  background: white;
  border-bottom: 1px solid #bdc3c7;
  /* place above tasksheet header */
  z-index: 2;
  position: relative; }

.timer-container .container {
  width: auto; }

.timer-input {
  height: 60px;
  max-height: 60px; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

input {
  font-size: 18px;
  height: 100%;
  padding: 0 0 0 10px;
  text-align: left;
  box-sizing: border-box;
  background-color: #fff;
  border: 3px solid #f7f7f7; }

input:focus {
  background: #fff;
  border: 3px solid #f7f7f7; }

/* task input */
input:nth-child(1) {
  width: 40%;
  height: 100%;
  font-size: 20px;
  text-align: left;
  border: none; }

.clock-container {
  display: inline;
  box-sizing: border-box;
  font-size: 18px; }

/* timer mode */
input#clock {
  min-width: 100px;
  width: 120px;
  font-size: 18px;
  color: black;
  text-align: center;
  padding: 0 0 0 0; }

input#clock:focus {
  background-color: #f7f7f7; }

.manual-entry {
  min-width: 120px;
  width: 120px;
  text-align: center;
  padding: 0 0 0 0;
  display: none; }

.manual-entry:focus {
  background-color: #f7f7f7; }

input#datepicker {
  min-width: 75px;
  width: 75px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  border-left: none;
  margin-left: -12px; }

input#datepicker:focus {
  cursor: pointer; }

#arrow {
  display: none;
  font-size: 18px; }

.start-btn {
  float: right;
  background-color: #4CAF50;
  height: 60px;
  width: 10%;
  margin: 0 5px 0 0;
  display: inline-block; }
