.toggle-container {
  float: right;
  background-color: #fff;
  width: 30px;
  margin: 6px 0 0 0;
  display: inline-block;
  height: -webkit-fill-available; }

.toggle-inputs {
  margin: 0 0 0 5px;
  font-size: 18px;
  color: #7f8c8d;
  height: 50%;
  width: 100%; }

.toggle-inputs:first-child {
  color: #4CAF50; }

.hover-title {
  text-decoration: none;
  vertical-align: inherit; }
  .hover-title:hover {
    color: #4CAF50;
    position: relative; }
  .hover-title[title]:hover:after {
    font-size: 14px;
    content: attr(title);
    padding: 12px 8px;
    color: #333;
    position: absolute;
    float: left;
    left: 0;
    top: 100%;
    margin-left: -90px;
    margin-top: -20px;
    white-space: nowrap;
    z-index: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid black; }
