$white: white;
$light-grey: #fff;
$dark-grey: #f7f7f7;
$default-project-tag: #5C6B73;
$hourglass-green: #27ae60;
$delete-item: #e74c3c;

body {
    background: $light-grey;
}

/* li hover buttons */
span {
    background-color: $delete-item;
    height: 40px;
    margin-right: 0px;
    text-align: center;
    color: white;
    width: 10px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background: $light-grey; 
}

li:nth-child(odd) { 
    background: $dark-grey; 
}

li p {
    background-color: $hourglass-green;
    height: 40px;
    margin-right: 0px;
    text-align: center;
    color: white;
    width: 10px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover p {
    width: 40px;
    opacity: 1.0;
    margin-right:18px;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

.projIcon { 
    display:inline-block;
    display:visible;
}
.projIcon > h6 {
    color:white;
    background-color: $default-project-tag; 
    padding:3px 6px 3px 6px;
    font-size:14px;
    display:inline;
}

.billIcon {
    font-weight:normal;
    color:black;
    background-color:transparent;
    position:absolute;
    display:inline-block;
}

.billIconToggle {
    font-weight:bold;
}

.inputBilling {
    height:50px;position: 
    relative;
    width:auto;
    font-size: 22px
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

.listTime {
    display:inline-block;
    margin-right:50px;
    margin-left:30px;
    float:right;
}

.separator {
    color:transparent; 
    display:inline-block;
}

li:nth-child(odd) { 
    background: $dark-grey; 
}
