$light-grey: #fff;
$dark-grey: #f7f7f7;

.tasklist-header {
    background: $dark-grey;
    min-height: 56px;
    margin-top:-5px;
    /* place below timesheet container */
    z-index: 1;
}

.button-container {
    margin: 8px -25px 0 0;
    width:fit-content;
    float:right;
    background: transparent;
}

i.header-button, i.header-button:focus {
    display:inline-block;
    padding: 0 0 0 0;
    margin: 0px 2px 0px 2px;
    color: black;
    background: transparent;
    font-size: 12px;
    font-weight: normal;
    cursor:pointer;
    text-decoration:none;
}

i.header-button:hover {
    color: #5C6B73;
    text-decoration:none;
}