$light-grey: #fff;
$dark-grey: #f7f7f7;
$toggle-grey: #7f8c8d;
$green: #4CAF50;
$dark: #333;

.toggle-container {
  float: right;
  background-color: $light-grey;
  width: 30px;
  margin: 0 0 10px 0;
  display: inline-block;
}

.toggle-inputs {
  margin: 0 0 0 5px;
  font-size:18px;
  color: $toggle-grey;
  height:50%;
  width:100%;
}

.toggle-inputs:first-child {
  color:$green;
}

.hover-title {
  text-decoration: none;
  vertical-align:inherit;

  &:hover {
    color: $green;
    position: relative;
  }

  &[title]:hover:after {
    font-size:14px;
    content: attr(title);
    padding: 12px 8px;
    color: $dark;
    position: absolute;
    float:left;
    left: 0;
    top: 100%;
    margin-left: -90px;
    margin-top: -20px;
    white-space: nowrap;
    z-index: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: $light-grey;
    border: 1px solid black;
  }
}
